<h1 class="page-header">
    History
    <small>/Your Past Transactions</small>
</h1>

<div class="table-responsive">
    <table class="table table-hover table-bordered ">
        <thead>
        <tr>
            <th>Instrument</th>
            <th>Date</th>
            <th>Type</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="transaction in history" ng-class="{0: 'warning', 1: 'success'}[transaction.type=='BUY' ? 0:1 ]">
            <td>{{transaction.fullName}}</td>
            <td>{{transaction.date}}</td>
            <td>{{transaction.type}}</td>
            <td>{{transaction.value / 100 | currency : "PLN" : 2}}</td>
        </tr>
        </tbody>
    </table>
</div>
