<h1 class="page-header">
    {{stock.fullName}}
    <small>{{stock.codeName}}</small>
</h1>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">Description</div>
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem distinctio fuga
                obcaecati reprehenderit saepe! Accusantium alias distinctio doloribus eligendi, error est, fuga impedit,
                inventore itaque officiis quidem quisquam suscipit veritatis!
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">Current value</div>
            <div class="panel-body">
                <div class="huge">{{stockRecord.value / 100 | currency : "PLN" : 2}}</div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="GamePlayService.player">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Buy {{stock.fullName}} shares:
            </div>
            <div class="panel-body">

                <div class="col-lg-6"><input class="form-control" type="number" ng-model="amount"></div>
                <div-col-lg-6>
                    <div class="centered">
                        <button class="btn btn-primary btn-info" ng-click="buy(stock)">Buy</button>
                        <b>{{transactionStatus}}</b>
                    </div>
                </div-col-lg-6>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-sm-12 ng-scope">
        <div class="panel panel-default">
            <div class="panel-heading">Current session</div>
            <div class="panel-body">
                <canvas id="current-session"
                        class="chart chart-line"
                        chart-data="currentData"
                        chart-labels="currentLabels"
                        chart-legend="false"
                        chart-series="currentSeries"
                        chart-options="currentOptions">
                </canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12 ng-scope">
        <div class="panel panel-default">
            <div class="panel-heading">Value</div>
            <div class="panel-body">
                <canvas id="line"
                        class="chart chart-line"
                        chart-data="valueData"
                        chart-labels="labels"
                        chart-legend="false"
                        chart-series="valueSeries"
                        chart-click="onClick"
                        chart-colours="valueColors">
                </canvas>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-sm-12 ng-scope">
        <div class="panel panel-default">
            <div class="panel-heading">Volume</div>
            <div class="panel-body">
                <canvas id="volume-chart"
                        class="chart chart-line"
                        chart-data="volumeData"
                        chart-legend="false"
                        chart-labels="labels"
                        chart-series="volumeSeries"
                        chart-click="onClick"
                        chart-colours="volumeColors">
                </canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12 ng-scope">
        <div class="panel panel-default">
            <div class="panel-heading">Change</div>
            <div class="panel-body">
                <canvas id="chane-chart"
                        class="chart chart-line"
                        chart-data="changeData"
                        chart-labels="labels"
                        chart-series="changeSeries"
                        chart-click="onClick">
                </canvas>
            </div>
        </div>
    </div>
</div>
