<h2>Name : {{stock.fullName}}</h2>
<h3>Code : {{stock.codeName}}</h3>
<h3>Current value : <b>{{stockRecord.value / 100 | currency : "PLN" : 2}} </b></h3>

<div ng-show="GamePlayService.player">
    <input type="number" ng-model="amount">
    <button ng-click="buy(stock)">Buy</button>
    <b>{{transactionStatus}}</b>
</div>

<div class="row">
    <div class="col-lg-6 col-sm-12 ng-scope">
        <div class="panel panel-default">
            <div class="panel-heading">Values chart</div>
            <div class="panel-body">
                <canvas id="current-session"
                        class="chart chart-line"
                        chart-data="currentData"
                        chart-labels="currentLabels"
                        chart-legend="false"
                        chart-series="currentSeries"
                        chart-options="currentOptions">
                </canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12 ng-scope">
        <div class="panel panel-default">
            <div class="panel-heading">Values chart</div>
            <div class="panel-body">
                <canvas id="line"
                        class="chart chart-line"
                        chart-data="valueData"
                        chart-labels="labels"
                        chart-legend="false"
                        chart-series="valueSeries"
                        chart-click="onClick"
                        chart-colours="valueColors">
                </canvas>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-sm-12 ng-scope">
        <div class="panel panel-default">
            <div class="panel-heading">Volume chart</div>
            <div class="panel-body">
                <canvas id="volume-chart"
                        class="chart chart-line"
                        chart-data="volumeData"
                        chart-legend="false"
                        chart-labels="labels"
                        chart-series="volumeSeries"
                        chart-click="onClick"
                        chart-colours="volumeColors">
                </canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12 ng-scope">
        <div class="panel panel-default">
            <div class="panel-heading">Change chart</div>
            <div class="panel-body">
                <canvas id="chane-chart"
                        class="chart chart-line"
                        chart-data="changeData"
                        chart-labels="labels"
                        chart-series="changeSeries"
                        chart-click="onClick">
                </canvas>
            </div>
        </div>
    </div>
</div>
